.saved__news_page-header {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1a1b22;
  padding: 0 106px 0 104px;
}

.saved__news_page-text {
  color: #1a1b2280;
  margin: 40px 0 28px 0;
  width: 712px;
  height: 24px;
}

.saved__news_page-title {
  font-family: "Roboto-Slab-Regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  width: 530px;
  height: 92px;
  margin: 0;
}

.saved__news_page-keywords {
  width: 712px;
  height: 24px;
  margin-bottom: 56px;
}

.saved__news_page-keywords-span {
  font-family: "Roboto-700", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 30px 0 56px 0;
}

.saved__news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f6f7;
  padding: 62px 104px 62px 102px;
  margin: 0;
  gap: 17px;
}

@media (max-width: 768px) {
  .saved__news_page-header {
    padding: 0 40px;
  }

  .saved__news_page-text {
    margin: 24px 0 16px 0;
    font-size: 14px;
  }

  .saved__news_page-title {
    font-size: 30px;
    width: 336px;
    height: 68px;
  }

  .saved__news_page-keywords {
    margin: 16px 0 32px 0;
  }

  .saved__news-list {
    padding: 32px 30px;
  }
}

@media (max-width: 320px) {
  .saved__news_page-header {
    padding: 0 16px;
  }
  .saved__news_page-text {
    margin: 8px 0 16px 0;
    font-size: 12px;
    width: 273px;
  }

  .saved__news_page-title {
    font-size: 30px;
    width: 273px;
    height: auto;
  }

  .saved__news_page-keywords {
    width: 273px;
    max-height: 48px;
  }

  .saved__news-list {
    padding: 24px 16px 12px;
    gap: 10px;
  }
}
