.news__page-saved-header {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1a1b22;
  padding: 0 106px 0 104px;
}

.news__page-saved-text {
  color: #1a1b2280;
  margin: 40px 0 28px 0;
  width: 120px;
  height: 24px;
}

.news__page-saved-title {
  font-family: "Roboto-Slab-Regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  width: 530px;
  height: 92px;
  margin: 0;
}

.news__page-saved-keywords {
  height: 24px;
  margin-bottom: 56px;
}

.news__page-saved-keywords__span {
  font-family: "Roboto-700", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 30px 0 56px 0;
}

.news__page-saved-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f6f7;
  padding: 62px 95px;
  margin: 0;
  gap: 17px;
}

@media (max-width: 768px) {
  .news__page-saved-header {
    padding: 0 40px;
  }

  .news__page-saved-text {
    margin: 24px 0 16px 0;
    font-size: 14px;
  }

  .news__page-saved-title {
    font-size: 30px;
    width: 336px;
    height: 68px;
  }

  .news__page-saved-keywords {
    margin: 16px 0 32px 0;
  }

  .news__page-saved-list {
    padding: 32px 20px;
  }
}

@media (max-width: 600px) {
  .news__page-saved-title {
    width: auto;
    font-size: 24px;
  }
}

@media (max-width: 334px) {
  .news__page-saved-header {
    padding: 0 16px;
  }

  .news__page-saved-text {
    margin: 8px 0 16px 0;
    font-size: 12px;
    width: 100%;
  }

  .news__page-saved-title {
    font-size: 30px;
    width: 100%;
    height: auto;
  }

  .news__page-saved-keywords {
    width: 100%;
    max-height: 48px;
  }

  .news__page-saved-list {
    padding: 24px 16px 12px;
    gap: 10px;
  }
}
