.header {
  display: flex;
  padding: 0 104px 0;
  line-height: 24px;
  max-height: 66px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff33;
}

.header_theme_dark {
  color: #1a1b22;
  border-bottom-color: rgba(26, 27, 34, 0.1);
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  font-family: "Roboto-Slab-Bold", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.header__tab {
  font-family: "Roboto-500", sans-serif;
  font-size: 18px;
  display: flex;
  gap: 32px;
  color: #ffffff;
  margin: 0;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 10px;
}

.header__link--active {
  border-bottom: 3px solid;
}

.header__link--saved {
  width: 158px;
}

.header_theme_dark .header__logo,
.header_theme_dark .header__link,
.header_theme_dark .header__tab {
  color: #1a1b22;
}

.header__logout {
  display: flex;
  align-items: center;
  gap: 17px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  padding: 8px 13px 8px 15px;
}

.header__logout-text {
  font-family: "Roboto-500", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.header_theme_dark .header__logout-text {
  color: #1a1b22;
}

.header_theme_dark .header__logout-icon {
  filter: brightness(0) saturate(100%);
}

.header__logout-icon {
  width: 24px;
  height: 24px;
}

.header__signin {
  padding: 12px;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.header_theme_dark .header__signin {
  border: 1px solid #1a1b22;
  color: #1a1b22;
}

.header__menu-button {
  display: none;
  border: none;
  background: none;
  padding: 8px;
  cursor: pointer;
  align-items: center;
}

.header__menu-button img {
  width: 24px;
  height: 24px;
}

.header_theme_dark .header__menu-button img {
  filter: brightness(0) saturate(100%);
}

.header__mobile-container {
  background-color: #1a1b22;
}

.header__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  border-bottom: 1px solid #ffffff33;
  padding: 16px;
}

.header__close-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.header__mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.header__mobile-link {
  text-decoration: none;
  color: #1a1b22;
  font-size: 18px;
  line-height: 24px;
}

.header__mobile-link--active {
  padding-bottom: 8px;
  border-bottom: 3px solid #1a1b22;
}

.header__mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 22px 40px 20px;
  }

  .header__tab {
    display: flex;
    font-size: 16px;
    gap: 16px;
  }

  .header__logout-text {
    font-size: 16px;
  }

  .header__signin {
    width: 152px;
    height: 40px;
  }

  .header__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .header__mobile-menu_opened {
    display: block;
    transform: translateX(0);
  }
}

@media (max-width: 320px) {
  .header {
    padding: 16px;
  }

  .header__logo {
    width: 117px;
    height: 24px;
    font-size: 16px;
  }

  .header__tab {
    display: none;
  }

  .header__menu-button {
    display: block;
    padding: 0;
  }

  .header__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .header__mobile-menu_opened {
    transform: translateX(0);
  }

  .header__close-button img {
    width: 24px;
    height: 24px;
  }

  .header__mobile-nav {
    font-family: "Roboto-500", sans-serif;
    font-size: 18px;
    padding: 0 16px 22px;
  }

  .header__mobile-link--active {
    border-bottom: 3px solid #ffffff;
  }

  .header__mobile-link {
    color: #ffffff;
    width: 135px;
  }

  .header__mobile-logout {
    height: 56px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 100px;
  }

  .header__mobile-logout-text {
    color: #ffffff;
    margin-right: 10px;
  }

  .header__mobile-container .header__logo {
    color: #ffffff;
  }
}
