.registration__complete-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.registration__complete-container {
  background-color: #ffffff;
  color: #1a1b22;
  position: relative;
  padding: 43px 36px;
  width: 430px;
  height: 182px;
  border-radius: 16px;
  box-sizing: border-box;
}

.registration__complete-close {
  position: absolute;
  right: -46px;
  top: -46px;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.registration__complete-close-icon {
  width: 40px;
  height: 40px;
}

.registration__complete-header {
  font-family: "Roboto-900", sans-serif;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  color: #000000;
  margin: 0 0 14px 0;
}

.registration__complete-button {
  font-family: "inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  color: #2f71e5;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
