.footer {
  display: flex;
  font-family: "Roboto-Regular", sans-serif;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 32px 104px 26px;
}

.footer__text {
  width: 433px;
  height: 22px;
  color: #b6bcbf;
  text-align: left;
}

.footer__socials {
  display: flex;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.footer__link {
  font-size: 18px;
  height: 24px;
  color: #1a1b22;
  text-decoration: none;
  margin-right: 40px;
}

.footer__link-icons {
  display: flex;
  gap: 26px;
  height: 24px;
}

@media (max-width: 1424px) {
  .footer {
    padding: 32px 35px 26px;
  }
}

@media (max-width: 1167px) {
  .footer__text {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 64px;
    margin: 0;
    padding: 24px 40px 18px;
  }

  .footer__text {
    font-size: 16px;
    width: 300px;
  }

  .footer__link {
    margin-right: 20px;
  }

  .footer__link-icons {
    gap: 24px;
  }
}

@media screen and (max-width: 623px) {
  .footer {
    height: auto;
    flex-direction: column-reverse;
    padding: 20px 16px 22px;
  }

  .footer__text {
    width: 288px;
    text-align: center;
    margin-top: 20px;
  }

  .footer__socials {
    justify-content: space-between;
    width: 100%;
  }

  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
  }

  .footer__social-icon {
    width: 24px;
    height: 24px;
  }
}
