.footer {
  display: flex;
  font-family: "Roboto-Regular", sans-serif;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 32px 104px 26px;
}

.footer__text {
  width: 433px;
  height: 22px;
  color: #b6bcbf;
  margin: 0 485px 0 0;
  /* margin: 32px 0 26px 104px; */
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 164px;
  height: 24px;
}

.footer__link {
  font-size: 18px;
  height: 24px;
  color: #1a1b22;
  text-decoration: none;
}

.footer__link-icons {
  display: flex;
  gap: 26px;
}

.footer__social-icon {
  width: 24px;
}

@media (max-width: 1167px) {
  .footer__text {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 768px;
    height: 64px;
    margin: 0;
  }

  .footer__text {
    margin: 24px 0 18px 40px;
    width: 385px;
  }

  .footer__links {
    width: 163px;
  }

  .footer__link-icons {
    gap: 24px;
    margin-right: 41px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    height: auto;
    flex-direction: column-reverse;
  }

  .footer__text {
    width: 288px;
    text-align: center;
    margin: 20px 16px 22px;
  }

  .footer__links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 288px;
    margin-bottom: 40px;
  }

  .footer__link-icons {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 20px;
    width: 288px;
  }
}
